:root{
    --blanco:#ffff; 

    
}

.fondo{
    background-color: #1E1540;

}

.titulo1{
    font-family: 'Raleway', sans-serif;
    color: var(--blanco);
    font-size: 2rem;
}

.titulo2{
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}

.rec1pequeño{
    background-color: #C4C4C4;
    border-radius: 22px;
}

.btn-lg{
    border-radius: 133px;
}
.cuadro1{
    background: rgba(23, 69, 138, 0.29);
    box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.cuadro2{
    background: linear-gradient(180deg, rgba(71, 97, 147, 0.7) 0%, rgba(71, 97, 147, 0) 100%);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
.prendido{
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
    font-size: 1.25rem;
}

.apagado{
    font-family: 'Poppins', sans-serif;
    color: rgba(177, 173, 193, 0.8);
    font-size: 1.25rem;
}